@tailwind base;
@tailwind components;
:root{
    @apply scrollbar-thin scrollbar-thumb-rounded-md scrollbar-thumb-appGreen scrollbar-track-gray-500
}
body{
    @apply m-0 p-0 box-border bg-darkWhite 
}
a, li{
    @apply cursor-pointer font-cascadiacodePL
}
p{
    @apply font-cascadiacodePLItalic
}
.bgimage{
    width: 100%;
    height: 100vh;
    background-image: url(../../public/assets/bgheader.jpg);
}

/* h1{
    @apply relative text-5xl text-[#252819] stroke-[0.3vw_#329d52] uppercase
}
h1::before{
    @apply content-[attr(data-text)] absolute top-0 left-0 w-full h-full text-[#01fe87] stroke-[#01fe87] border-r-[2px_solid_#01fe07] overflow-hidden animate-animate 
} */

@font-face {
    font-family: "CascadiaCode";
    src: url("../../public/fonts/CascadiaCode.ttf");
}
@font-face {
    font-family: "CascadiaCodeItalic";
    src: url("../../public/fonts/CascadiaCodeItalic.ttf");
}
@font-face {
    font-family: "CascadiaCodePL";
    src: url("../../public/fonts/CascadiaCodePL.ttf");
}
@font-face {
    font-family: "CascadiaCodePLItalic";
    src: url("../../public/fonts/CascadiaCodePLItalic.ttf");
}
@tailwind utilities;
